@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* hr{
    width: 25%;
    margin: 0 0;
    padding: 0 0;
} */

.numbering{
    color: rgb(90, 230, 199);
    font-size: 20px;
    padding: 0 10px;
}

.topic{
    color: rgb(160, 172, 202);
    font-size: 24px;
    font-weight: bolder;
}

.about-me{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    padding: 100px 350px;
    padding-bottom: 50px;
    justify-content: left;
    align-items: center;
    /* font-size: 20px; */
}

.about-me hr{
    padding: 0 0;
    margin-left: 10px;
    border: 2px solid rgb(160, 172, 202);
    width: 40%;
    font-size: 1px;
}

.about-me-content{
    display: flex;
    gap: 30px;
    width: 60%;
    padding: 0 350px;
    padding-bottom: 70px;
    justify-content: space-around;
    align-items: center;
}

.about-me-content img{
    height: 300px;
    width: 300px;
}

.about-me-content p{
    font-family: 'Poppins', sans-serif;
}

.image-holder:hover {
    opacity: 1;
    transition: opacity 1s, background 1s;
    background: rgb(90, 230, 199);
}
  
.image-holder {
  opacity: 0.5;
  background-color: rgb(90, 230, 199);
  transition: opacity 1s, background 1s;
}